<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kittyId</key>
		<string>tz0fx</string>
		<key>createdBy</key>
		<string>Simon</string>
		<key>name</key>
		<string>Testkasse</string>
	</dict>
</array>
</plist>
